<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= icon('facebook-official', class: 'strong fa-2x') %>
        <span class="text-muted">/ivoneijr</span>    
      </div>
      <div class="col-md-2">
        <%= icon('github', class: 'strong fa-2x') %>
        <span class="text-muted">/ivoneijr</span>  
      </div>
      <div class="col-md-2">
        <%= icon('linkedin-square', class: 'strong fa-2x') %>
        <span class="text-muted">/ivoneijr</span>  
      </div>
    </div>
  </div>
</footer>